bs4
lxml
pytz
motor
Pillow
aiohttp
pyromod
hachoir
tgcrypto
dnspython

pyrogram
cloudscraper
olefile
requests
nest_asyncio
PyBypass
datetime
base
requests
ffmpeg
git+https://github.com/Nkbots/nt-dl.git
git+https://github.com/Nkbots/nt-sp.git
git+https://github.com/Nkbots/nt-sr.git
git+https://github.com/Nkbots/mt-sr.git
